[submodule "resources/rxffmpeg"]
	path = resources/rxffmpeg
	url = https://github.com/microshow/RxFFmpeg.git
[submodule "resources/ffmpeg-python"]
	path = resources/ffmpeg-python
	url = https://github.com/kkroening/ffmpeg-python.git
[submodule "resources/EasyDarwin"]
	path = resources/EasyDarwin
	url = https://github.com/EasyDarwin/EasyDarwin.git
[submodule "resources/x264-go"]
	path = resources/x264-go
	url = https://github.com/gen2brain/x264-go.git
[submodule "resources/go-sdl2"]
	path = resources/go-sdl2
	url = https://github.com/veandco/go-sdl2.git
[submodule "resources/vlc"]
	path = resources/vlc
	url = https://github.com/videolan/vlc.git
[submodule "resources/gstreamer-java"]
	path = resources/gstreamer-java
	url = https://github.com/gstreamer-java/gst1-java-core.git
[submodule "resources/live555"]
	path = resources/live555
	url = https://github.com/rgaufman/live555.git
[submodule "resources/streama"]
	path = resources/streama
	url = https://github.com/streamaserver/streama.git
[submodule "resources/shaka-packager"]
	path = resources/shaka-packager
	url = https://github.com/google/shaka-packager.git
[submodule "resources/obs-studio"]
	path = resources/obs-studio
	url = https://github.com/obsproject/obs-studio.git
[submodule "resources/crtmpserver"]
	path = resources/crtmpserver
	url = https://github.com/j0sh/crtmpserver.git
[submodule "resources/livego"]
	path = resources/livego
	url = https://github.com/gwuhaolin/livego.git
[submodule "resources/red5/red5-io"]
	path = resources/red5/red5-io
	url = https://github.com/Red5/red5-io.git
[submodule "resources/red5/red5-service"]
	path = resources/red5/red5-service
	url = https://github.com/Red5/red5-service.git
[submodule "resources/red5/red5-server-common"]
	path = resources/red5/red5-server-common
	url = https://github.com/Red5/red5-server-common.git
[submodule "resources/red5/red5-parent"]
	path = resources/red5/red5-parent
	url = https://github.com/Red5/red5-parent.git
[submodule "resources/red5/red5-server"]
	path = resources/red5/red5-server
	url = https://github.com/Red5/red5-server.git
[submodule "resources/ijkplayer"]
	path = resources/ijkplayer
	url = https://github.com/bilibili/ijkplayer.git
[submodule "resources/srs/srs"]
	path = resources/srs/srs
	url = https://github.com/ossrs/srs
[submodule "resources/srs/srs-docker"]
	path = resources/srs/srs-docker
	url = https://github.com/ossrs/srs-docker.git
[submodule "resources/x264"]
	path = resources/x264
	url = https://gitee.com/aimo-video/x264.git
[submodule "resources/x265"]
	path = resources/x265
	url = https://gitee.com/aimo-video/x265.git
[submodule "resources/gots"]
	path = resources/gots
	url = https://gitee.com/aimo-video/gots.git
[submodule "resources/acc-go"]
	path = resources/acc-go
	url = https://gitee.com/aimo-video/aac-go.git
[submodule "resources/voctomix"]
	path = resources/voctomix
	url = https://gitee.com/aimo-video/voctomix.git
[submodule "resources/gstreamer-rs"]
	path = resources/gstreamer-rs
	url = https://gitee.com/aimo-video/gstreamer-rs.git
[submodule "resources/gstreamer"]
	path = resources/gstreamer
	url = https://gitee.com/aimo-video/gstreamer.git
[submodule "resources/ffmpeg"]
	path = resources/ffmpeg
	url = https://gitee.com/aimo-video/FFmpeg.git
[submodule "resources/gst-example"]
	path = resources/gst-example
	url = https://gitee.com/aimo-video/gst-examples.git
[submodule "resources/red5/red5-plugins"]
	path = resources/red5/red5-plugins
	url = https://github.com/Red5/red5-plugins.git
